body {
  background-image: unset;
  background-color: #6a040f;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #ffd60a;
}

.choice-container {
  display: flex;
  border-radius: 5px;
  border: 1px solid #ffd60a;
  margin-bottom: 1rem;
  min-width: 50vw;
}

.choice-prefix {
  background-color: #ffd60a;
  color: #d00000;
  padding: 1.5rem;
  margin: 0;
  font-size: 1.5rem;
}

.choice-text {
  padding: 1rem;
}
