body {
  background-image: unset;
  background-color: #6a040f;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #ffd60a;
}

/* QEUSTION */

#question {
  padding: 2rem 2rem 2rem 0;
}

/* ChOICES */

.choice-container {
  display: flex;
  border-radius: 5px;
  border: 1px solid #ffd60a;
  margin-bottom: 1rem;
  min-width: 50vw;
}

.choice-container:hover {
  cursor: pointer;
  border-color: #faa307;
  box-shadow: 0 0.4rem 0.4rem 0 #faa307;
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}
.choice-prefix {
  background-color: #ffd60a;
  color: #d00000;
  margin: 0;
  padding: 1rem;
}

.choice-text {
  padding-left: 1rem;
  width: 100%;
}

.correct {
  background-color: #3edf0ddc;
}
.incorrect {
  background-color: #d00000;
}
/* HUD */

#hud {
  display: flex;
  justify-content: space-between;
}
#score {
  font-size: 2rem;
}

/* PROGRESS BAR */

#progress-bar {
  border: 1px solid #ffd60a;
  border-radius: 10px;
  height: 1.3rem;
  width: 10rem;
  margin-top: 2.2rem;
}

#progress-bar-full {
  background-color: #ffd60a;
  border-radius: 10px;
  height: 1.2rem;
  width: 0%;
}

/* LOADER * / /* REF W3SCHOOL 
https://www.w3schools.com/howto/howto_css_loader.asp*/

#loader {
  border: 12px solid #c9c0c0;
  border-top: 12px solid #ffd60a;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* GO HOME AND SOUND ON BUTTON */

#go-home {
  font-size: 2rem;
  color: #ffd60a;
}

#game-page-button {
  display: flex;
  margin-left: auto;
}

#sound-up,
#mute {
  font-size: 2.2rem;
  padding-right: 1rem;
}

#mute:hover,
#sound-up:hover {
  cursor: pointer;
}

#sound {
  margin: 0;
}
