body {
  background-image: unset;
  background-color: #6a040f;
}
.high-score {
  list-style: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #ffd60a;
  font-size: 1.5rem;
  padding: 0.5rem;
}
#highScoresList {
  padding-left: 0;
}
.high-score:hover {
  transform: scale(1.025);
}
/* Media Query */
@media only screen and (max-width: 375px) {
  #finalScore {
    font-size: 2.5rem;
  }
}
